<!DOCTYPE html>
<html>
<head>
	<title>Summarized page</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		
		.outer-box{
			/*border: 1px solid grey;*/
			margin-top: 15px;
			font-size: 20px;
		}

		h3{
			text-align: center;
		}
		hr{
			width: 50%;
		}
	</style>
</head>
<body>
	<div class="container outer-box">
		<div class="heading">
			<h3>Summary</h3>
			<hr>
		</div>
		<div class="content">
			<p>{{data}}</p>
		</div>
<!-- 
		<div>{{list}}</div>
		<div>{{list1}}</div> -->
		
	</div>
</body>
</html>